@import "../variables/variables";

.NoAuthorList {
  font-style: italic;
  font-size: 1.1em;
  font-weight: 600;
  color: $no-item-text-color;
}

.AddAuthor {
  box-sizing: border-box;
  cursor: pointer;

  span {
    font-size: 1em;
    font-weight: 500;
  }
}

.author {
  font-size: 1.4em;
  font-weight: 500;
  text-transform: capitalize;
  .icons {
    cursor: pointer;
    opacity: 0;
  }
}
.author:hover {
  background-color: $author-hover-back-color;

  .icons {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .author {
    background-color: none;

    .icons {
      opacity: 1;
    }
  }
}
