@import "../variables/variables";

.form {
  .form-title {
    h5{
      label {
        color: $form-header-color;
        border-bottom: 2px solid $form-header-color;
      }
    }
    .form-input {width: 100%;}
  }
.closebtn{cursor: pointer;}
  .form-button {
    background-color: $btn-back-color;
    font-size: .9em;
    font-weight: 500;
    border-radius: .5em;
  }
}