@import "../variables/variables";

.welcome {
    @media (min-width: 576px) {
     .h1 {
      font-size: 2em; 
      }
    }

    h1{
        font-weight: 700;
        font-size: 3em;
        color: $font-color;
    }
    img{
        width: 100%;
        height: auto;
    }
    
    .credits{
        font-weight: 500;
        position: relative;
        left: 4;
    }
}